:root {
    --roewagruen: #007556;
}

 

body{
    height: fit-content;
    min-height: 96vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container{
    display: flex;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.mainContainerGreen{
    height : fit-content;
    min-height: 93vh;
    width: 40vw;
    margin-left: 2vw;
    margin-right: 20px;
    background-color: var(--roewagruen);
    padding: 1rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.smallWhiteContainer{
    height : fit-content;
    min-height : 23vh;
    width: 34vw;
    margin-right: 30vw;
    background-color: #f0f0f0;
    padding: 1rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.mainContainerWhite{
    display: flex;
    height : fit-content;
    min-height: 93vh;
    width: 40vw;
    margin-left: 20px;
    background-color: var(--roewagruen);
    padding: 1rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.smallGreenContainer{
    height : fit-content;
    min-height : 23vh;
    width: 34vw;
    margin-right: 15vw;
    background-color: #f0f0f0;
    padding: 1rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

h1{
    color : #FFFFFF;
    text-align: center;
    background-color: var(--roewagruen);
    border-radius: 20px;
}
h2,h3{
    color : #FFFFFF ;
    text-align: left;
    background-color: var(--roewagruen);
    border-radius: 20px;
}
h4{
    color :var(--roewagruen) ;
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 20px;
}
b1{
    color: #3AFAAD;
}
b2{
    color: #FFFFFF;
}
b3{
    color: #3876f2;
}